In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [30]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split() , columns= 'W X Y Z'.split())

In [31]:
print(df)

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
B -1.678284  0.333973 -0.532471  2.117727
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931
E -0.251897 -0.578120  0.236996  0.200780

In [32]:
df['W']

A    0.586847
B   -1.678284
C    0.197524
D    0.305632
E   -0.251897
Name: W, dtype: float64

In [33]:
type(df['W'])

pandas.core.series.Series

In [34]:
type(df)

pandas.core.frame.DataFrame

In [37]:
#lista de colunas 

df[['Z','X']]

          Z         X
A  0.026105 -1.621348
B  2.117727  0.333973
C -0.863091  2.302987
D -1.560931  0.243178
E  0.200780 -0.578120

In [38]:
df['new'] = df['X'] + df['Z']

In [39]:
print(df)

          W         X         Y         Z       new
A  0.586847 -1.621348  0.677535  0.026105 -1.595242
B -1.678284  0.333973 -0.532471  2.117727  2.451700
C  0.197524  2.302987  0.729024 -0.863091  1.439896
D  0.305632  0.243178  0.864165 -1.560931 -1.317754
E -0.251897 -0.578120  0.236996  0.200780 -0.377340

In [41]:
df.drop(columns='new')

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
B -1.678284  0.333973 -0.532471  2.117727
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931
E -0.251897 -0.578120  0.236996  0.200780

In [45]:
df.drop('new',axis=1, inplace=True)

In [46]:
print(df)

          W         X         Y
A  0.586847 -1.621348  0.677535
B -1.678284  0.333973 -0.532471
C  0.197524  2.302987  0.729024
D  0.305632  0.243178  0.864165
E -0.251897 -0.578120  0.236996

In [47]:
df.loc['A','W'] #valores de index e colunas

0.586847295403904

In [50]:
df.loc[['A','B'],['X','Y','Z']]

/home/francinvaldo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

          X         Y   Z
A -1.621348  0.677535 NaN
B  0.333973 -0.532471 NaN

In [51]:
df.iloc[1:4,2:] #valores numericos

          Y
B -0.532471
C  0.729024
D  0.864165